* {
  box-sizing: border-box;
}

body{
  margin: 0px;
  padding: 0px;
  font: poppins;
  }

  #imp {
    width: 100%;
    height: 60vh;
    position: relative;
}

/* navigation menu*/
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  background-color: white;
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.03)
  z-index: 1;
  }

  .icon img {
    height: 65px;
    }

    ul{
      list-style: none;
      display: flex;
    }

    .main_menu li a {
      margin: 3px;
      padding: 0px 23px;
      height: 40px;
      line-height: 43px;
      display: flex;
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 1px;

    }

    .main_menu li a:hover {
      background-color: #23cdaf;
      color:white;
      box-shawdow: box-shadow: 5px 10px 30px rgba(24, 139, 119, 0.2);
      transition: all ease 0.2s;
    }

    a {
      text-decoration: none;
      color: gray
    }

    .hello {
      color: #39bfbd;
      font-weight: 500;
      font-size: 14px;
      border-bottom: 2px solid #39bfbd;
    }

    /* Content Part*/
    .picture{
      width: 500px;
      height: 500px;
    }
    .picture img{
      width: 100%;
      height: 100%;
      object-fit: contain;
      }

    .content {
      display: flex;
      width: 90%;
      justify-content: space-around;
      align-items: contain;
      position: absolute;
      left: 50%;
      right: 50%;
      transform: translate(-50%, -50%)
      }

    .main{
      padding: 150px;
    }

    .main h1{
      font-size: 2.5em;
      color: #1f262c;
      margin: 0px 0px 10px 0px;
      line-height: 50px;
    }

    .main p{
      color: grey;
      }

      .main a {
        justify-content: center;
      }

      .resume{
        width: 190px;
        height: 44px;
        display: flex;
        justify-conent: center;
        align-items: center;
        color: white;
        background-color: #1db096;
        border-radius: 20px;
        box-shadow: 5px 10px 30px rgba(24, 139, 119, 0.2)
      }

      .resume:hover{
        background-color: #23cdaf;
        transition:all ease 0.2s;
      }